URxvt.internalBorder:	0
URxvt.scrollBar:	false
URxvt.letterSpace:	-1
URxvt.depth:    32
URxvt.foreground:   #afafaf
!! URxvt.background:   [100]#1c1b1a
URxvt.background:   [100]#282c34
!! URxvt.background:   [100]#2b2834
!! URxvt.background:   [100]#342928
!! URxvt.font: xft:Noto Sans Mono:size=6
!! URxvt.font: xft:PowerlineSymbols:style=Medium:size=6
URxvt.font: xft:Noto Mono for Powerline:style=Regular:size=6,xft:DejaVu Sans:style=Regular:size=6,xft:Unifont:style=Regular:size=6
!! URxvt.font: xft:Noto Color Emoji:style=Regular:size=6
!! URxvt.font: xft:DejaVu Sans Mono for Powerline:autohint=true:size=6
!! Larger history limit
URxvt.saveLines: 1000000
!! URxvt.transparent: true
!! URxvt.shading: 20
!! URxvt.blurRadius: 80


!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size,clipboard
!! Open urls in browser with Control-Click
!! urxvt.urlLauncher: /usr/bin/firefox
!! urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
!! URxvt.keysym.Control-0x2b: perl:font-size:increase
!! URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
